table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 10px solid red;
    padding: 25px;
    text-align: center;
}

th {
    background-color: lightblue;
}

td {
    background-color: #f1f4fe;
}
p {border:200px;}